/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* Colors of JavaFX pie chart slices. */
.data0.chart-pie { -fx-pie-color: green; }
.data1.chart-pie { -fx-pie-color: purple; }
.data2.chart-pie { -fx-pie-color: cornflowerblue; }
.data3.chart-pie { -fx-pie-color: blue; }
.data4.chart-pie { -fx-pie-color: red; }
.data5.chart-pie { -fx-pie-color: navy; }
