/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.tree .tree-cell {
-fx-padding: 6 0 0 0;
-fx-background-color:#339933;
-fx-text-fill: black;
}

.tree .tree-cell:focused {
-fx-text-fill: white;
}
.roundedButton {
-fx-background-radius:10;
-fx-font:lem "Arial Bold"; 
}
